* {
	margin: 0;
	padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

header {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 20px;
}

form {
  width: 30%;
  margin: 30px auto;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

input[type="number"],
select {
  font-size: 1.2rem;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}

label {
  font-size: 1.2rem;
  font-weight: bold;
  display: block;
  margin: 10px 0;
}

#result {
  text-align: center;
  margin: 20px 0;
  font-size: 1.8rem;
  font-weight: bold;
  color: #4CAF50;
}

button {
  font-size: 1.2rem;
  padding: 12px 20px;
  background-color: #4CAF50;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  
}
button:hover{
  background: #036106;
  transition: 1s;
}

@media (max-width: 600px) {
  form {
    width: 90%;
    margin: 20px auto;
  }
}